<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">

                <div class="card-body">
                    <legend>Búsqueda</legend>
                    <form action="/findGuide" method="POST">
                        <div id="navbar-search-autocomplete" class="btn-group">
                            <input type="search" id="find" name="find" class="form-control" />
                            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                    <form action="/createBudget" method="POST">
                        <fieldset>
                            <!-- Search form -->
                            <legend>Datos de Guia</legend>
                            <% if (typeof guideData != "undefined") {  %>
                                <div class="row">
                                    <div class="col-md-2 pr-md-1">
                                        <div class="form-group">
                                            <label>Codigo Guia</label>
                                            <input type="text" class="form-control" value="<%= guideData.code %>" name="codigo_guia" id="codigo_guia" maxlength="4" placeholder="5515" required>
                                        </div>
                                    </div>
                                    <div class="col-md-5 pr-md-1">
                                        <div class="form-group">
                                            <label>Cliente</label>
                                            <input type="text" class="form-control" value="<%= guideData.client %>" name="nombre" id="nombre" placeholder="Jesús" required>
                                        </div>
                                    </div>
                                    <div class="col-md-5 pl-md-1">
                                        <div class="form-group">
                                            <label>Artefacto</label>
                                            <input type="text" class="form-control" value="<%= guideData.gadget %>" name="artefacto" id="artefacto" placeholder="Gimenez">
                                        </div>
                                    </div>
                                </div>

                                <% } else { %>
                                    <div class="row">
                                        <div class="col-md-2 pr-md-1">
                                            <div class="form-group">
                                                <label>Codigo Guia</label>
                                                <input type="text" class="form-control" name="codigo_guia" id="codigo_guia" maxlength="4" placeholder="5515" required>
                                            </div>
                                        </div>
                                        <div class="col-md-5 pr-md-1">
                                            <div class="form-group">
                                                <label>Cliente</label>
                                                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Jesús" required>
                                            </div>
                                        </div>
                                        <div class="col-md-5 pl-md-1">
                                            <div class="form-group">
                                                <label>Artefacto</label>
                                                <input type="text" class="form-control" name="artefacto" id="artefacto" placeholder="Gimenez">
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                        </fieldset>
                        <fieldset>
                            <legend>Información de Presupuesto</legend>
                            <div class="row">
                                <div class="col-md-4 pr-md-1">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Monto Total</label>
                                        <input type="text" class="form-control" id="monto_total" name="monto_total" placeholder="115.00" required>
                                    </div>
                                </div>
                                <div class="col-md-3 pr-md-1 ">
                                    <div class="form-group ">
                                        <label>Fecha</label>
                                        <input type="text " class="form-control " name="fecha" id="fecha" disabled>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Detalle</label>
                                        <textarea rows="6" cols="100" class="form-control" name="detalle" id="detalle" placeholder="Detalle del presupuesto(costos individuales)"></textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="modal-footer">
                            <button type="submit" onclick='history.back()' class="btn btn-secondary">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Registrar Presupuesto</button>
                        </div>
                    </form>
                </div>
                <!--<div class="card-footer">
                    <button type="submit" class="btn btn-fill btn-primary">Registrar</button>
                </div>-->
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>
                            <a href="javascript:void(0)">
                                <img class="avatar" src="/assets/img/default-avatar.png" alt="...">
                                <h5 class="title">Usuario</h5>
                            </a>
                            <p class="description">
                                Administrador
                            </p>
                        </div>
                    </p>
                    <div class="card-description">

                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                <i class="fab fa-facebook"></i>
              </button>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                <i class="fab fa-twitter"></i>
              </button>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                <i class="fab fa-google-plus"></i>
              </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>