<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <title>
        Electrónica Pimentel
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/custom-css.css" media="screen" />
    <!-- Nucleo Icons -->
    <link href="/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
</head>

<body>
    <div>
        <div class="h-100 gradient-form" style="background-color: #eee;">
            <div class="container py-5 ">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-10">
                        <div class="card rounded-3 text-black">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <form action="/signUpc" method="POST">
                                        <div class="card-body p-md-5 mx-md-4">

                                            <div class="text-center">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo">
                                                <h4 class="mt-1 mb-5 pb-1">Electrónica Pimentel</h4>
                                                <p>Por favor ingrese sus datos</p>
                                            </div>
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example10">Nombres</label>
                                                <input type="text" id="form2Example10" class="form-control" name="nombres" placeholder="Maik" />
                                            </div>
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example09">Apellidos</label>
                                                <input type="text" id="form2Example09" class="form-control" name="apellidos" placeholder="White" />
                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example11">Correo</label>
                                                <input type="email" id="form2Example11" class="form-control" name="correo" placeholder="correo@correo.com" />
                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example22">Contraseña</label>
                                                <input type="password" id="form2Example22" class="form-control" name="contraseña" placeholder="*********" />
                                            </div>
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example13">Rol</label>
                                                <input type="text" id="form2Example13" class="form-control" name="rol" placeholder="Admin" />
                                            </div>
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example14">Estado</label>
                                                <input type="text" id="form2Example14" class="form-control" name="estado" placeholder="Activo" />
                                            </div>

                                            <div class="text-center pt-1 mb-5 pb-1">
                                                <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Registrarme</button>
                                                <a class="text-muted" href="#!">Olvidé mi contraseña</a>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-center pb-4">
                                                <p class="mb-0 me-2">Ya tiene una cuenta?</p>
                                                <a href="/login"><button type="button" class="btn btn-primary gradient-custom-2 btn-sm">Iniciar Sesion</button></a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="/assets/js/core/jquery.min.js "></script>
    <script src="/assets/js/core/popper.min.js "></script>
    <script src="/assets/js/core/bootstrap.min.js "></script>
    <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js "></script>
</body>

</html>