.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #0026ff, #0061fd, #276cc7, #273dc7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #0026ff, #0061fd, #276cc7, #273dc7);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
        background-color: #eee;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

body {
    overflow: hidden;
    /* Hide scrollbars */
}

table.datatable thead {
    background-color: #5a8bcc;
}